<div class="h" (mouseover)="toggleHover(true)" (mouseout)="toggleHover(false)">
    <div>
        <h6 style="margin-left:5px;color:#808080">{{num}}</h6>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="#ffffff">
            <path d="M8 5v14l11-7z"></path>
        </svg>
    </div>
    <div style="margin-left:20px;margin-right: 20px;">
        <img [src]="image" width="45px" height="45px">
    </div>
    <div >
        <h5>{{title}}</h5>
        <h6 class="w">{{section}}</h6>
    </div>
    <div style="margin-left:260px;" class="w">
        <h6>{{album}}</h6>
    </div>
    <div style="margin-left:300px;color:#808080">
        <h6>{{date}}</h6>
    </div>
    <div style="margin-left:120px;color:#808080">
        <svg role="img" fill="#ffffff" style="margin-left:100px;margin-right:30px" height="15" width="15" viewBox="0 0 16 16">
            <path class="r" d="M15.724 4.22A4.313 4.313 0 0 0 12.192.814a4.269 4.269 0 0 0-3.622 1.13.837.837 0 0 1-1.14 0 4.272 4.272 0 0 0-6.21 5.855l5.916 7.05a1.128 1.128 0 0 0 1.727 0l5.916-7.05a4.228 4.228 0 0 0 .945-3.577z"></path>
        </svg>
        <h6>{{tim}}</h6>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
            <circle cx="2" cy="6" r="2" fill="#ffffff" />
            <circle cx="6" cy="6" r="2" fill="#ffffff" />
            <circle cx="10" cy="6" r="2" fill="#ffffff" />
        </svg>
    </div>
</div>
