<header>
<nav class="spotify_top-nav">
    <div class="spotify_top-nav_focus_title">
        <ul class="spotify_top-nav_auth0">
            <li class="forward_btn" ><svg role="img" height="16" width="16" aria-hidden="true" fill="#808080" class="Svg-sc-ytk21e-0 eNWijz IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16" data-encore-id="icon"><path d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"></path></svg></li>
            <li class="backward_btn"><svg role="img" height="16" width="16" aria-hidden="true" fill="#808080" class="Svg-sc-ytk21e-0 eNWijz IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16" data-encore-id="icon"><path d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"></path></svg></li>
            <li *ngIf="isSerachFieldVisible">
            <input class="p_search" type="search" placeholder="What do you want to listen to?"/></li>
        </ul>
    </div>
      

    <ul class="spotify_top-nav_auth">
        <li class="spotify_top-nav_auth_sign-up" (click)="onNavigateToSignup()">Sign up</li>
        <li class="spotify_top-nav_auth_login" (click)="onNavigateToLogin()">Log in</li>
    </ul>
</nav>
</header>
